
<body>

    <p>
        I want to talk about one of my favorite hobbies: building mechanical keyboards. It sounds boring, but when you need to constantly be at your desk, your keyboard can be your best friend or your worst enemy.
        Though, building keyboards does not have to be entirely practical. Many "ergo-mech" keyboard enthusiasts create absurdly genius (or stupid) keyboard designs because they can! It is often a misconception that
        building keyboards is an expensive hobby. If you go the group-by route, it certainly can be, but websites like drop.com, amazon.com, and aliexpress.com can offer affordable ways to help you build your dream keyboard.
    </p>

    <h2>What are mechanical keyboards?</h2>
    <p>
        They are keyboards that use an individual spring and switch to register each key input. Common keyboards like Apple's or the typical keyboard at your office uses membrane beneath each key to register the user's
        inputs. Typing enthusiasts and gamers generally prefer mechanical switches, for a variety of reasons, but the most common are because they last longer and have lower latency. Going a step further and building
        a keyboard opens a rabbit hole for endless customization options, as opposed to buying one at Best Buy. This is the reason why there is a huge community of keyboard enthusiasts around the world and conventions.
        To understand mechanical keyboards, knowing the basics of how switches operates is the best first step to take.
    </p>
    <img src="~/pics/mechanicalKeyboard.jpeg" height="200" />

    <h2>Switches</h2>
    <p>Switches are the mechanisms under the keycaps that enable users to type better and more precisely. There are three main categories of switches: <b>linear</b>, <b>tactile</b>, and <b>clicky</b>.</p>
    <h3>Linear</h3>
    <p>
        These are smooth and fast. They are the most fluid type of switches and generally the quiest because there is no tactile feedback during a keypress. The drawback is that it is easier to create typos because
        of this lack of feedback. Gamers prefer linears because of the low pre-travel distance and no tactile bump. The most common linear switches are the Cherry MX Reds.
    </p>
    <img src="~/pics/cherryred.jpeg" height="100" />
    <h3>Tactile</h3>
    <p>
        Tactile switches are the awkward middle child. They have a small bump that you can feel while using them, but are quieter and smoother than clicky swithes. Gamers sometimes prefer tactile switches over linears
        because of the small feedback, and typing enthusiasts who want less force and noise will opt for tactiles. The most common tactile switches are the Cherry MX Browns.
    </p>
    <img src="~/pics/cherrybrown.jpeg" height="100" />
    <h3>Clicky</h3>
    <p>
        Clicky switches, the bane of anyone's existence who hates their scratchy and loud noise for every single keystroke. The biggest upside to using clicky switches is that you will have the best typing experience with
        them. The downside is that you cannot type anywhere except at home or a very secluded area, unless you want to annoy everyone. The most common clicky switches are the Cherry MX Blues.
    </p>
    <img src="~/pics/cherryblue.jpeg" height="100" />
    <br />
    <br />

    <h2>Keycaps</h2>
    <p>
        These are not as interesting as nor complex as switches can be, but there are two types: ABS and PBT. ABS is smoother and wear off faster, wherease PBT is "grippier" and lasts longer. Though not as complex,
        keycaps are the first thing everyone will notice about your keyboard, so make 'em good. There are also different profiles for keycaps like Cherry, XVX, low; but they are not as drastic of a change as switches are.
    </p>

    <h3>
        Click <a href="~/Home/Pricing">here</a> to get a cost-estimate for me to build you a custom keyboard.
    </h3>
    <br />
    <br />
    <br />

</body>