<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MX Keyboards</title>
    <link rel="icon" href="pics\logo.jpeg" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Ethan's Keyboard Hobby</h1>
    <div>
        @RenderBody()
    </div>

    <footer class="footer border-top">
        <p>© 2024 Ethan Inc. All Rights Reserved. Email <a href="https://www.google.com">dontactuallyemailme@googleitinstead.com</a> for any questions.</p>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>
